.body-form {
    min-height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../logos/pokeball2.png");
    background-color: black;
    background-repeat: repeat;
    background-size: 52px 52px;
    background-position: top;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 500px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://i.pinimg.com/564x/5e/c5/7a/5ec57a572d647a86dbfdde7348b3c6c6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.div-formulario {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.h3-form {
    color: rgb(207, 238, 251);
    font-size: 35px;
    margin: 0;
}

.Coloca-email {
    font-size: 16px;
    color: rgb(207, 238, 251);
    margin-bottom: 20px;
}

.line {
    display: inline-block;
    width: 120px;
    height: 10px;
    background: linear-gradient(to right, rgb(133, 94, 107), rgb(31, 43, 56));
    margin-top: 5px;
    margin-bottom: 10px;
}

.label-form {
    color: rgb(207, 238, 251);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.input-form {
    padding: 10px 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid rgba(31, 43, 56, 0.8); /* Bordes semitransparentes */
    background-color: rgba(255, 255, 255, 0.3); /* Fondo blanco semitransparente */
    color: #000; /* Color del texto */
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s, border 0.3s;
}

/* Efecto al hacer hover en los campos de entrada */
.input-form:hover, .input-form:focus {
    background-color: rgba(255, 255, 255, 0.5); /* Aumenta la opacidad al hacer hover o focus */
    border-color: rgb(31, 43, 56);
}

/* Área de texto (textarea) */
textarea.input-form {
    resize: vertical;
    height: 100px;
}


.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.btn {
    font-size: 18px;
    color: #ffffff;
    background: rgb(133, 94, 10);
    border-radius: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    transition: transform 0.2s ease-in-out, background 0.3s;
}

.btn:hover {
    background: rgb(31, 43, 56);
    transform: scale(1.01);
}

.btn:active {
    transform: scale(0.95);
    /* Reduce un poco el tamaño para dar el efecto de ser presionado */
}


@media (max-width: 858px) {
    .body-form {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    .input-form {
        padding: 15px 10px;
    }
}